# prefered devices
# list your network devices by priority, one device per line
# the top device being the highest priority


devices
	urtw0
	re0
	iwn0




# list networks by priority
#


network
	name = KINGSWIRELESS
network
	name = virginmedia4484565
	key = cxfujrgf
network
	name = AccessKings
	key = somekey

	

	
